<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Vehicle_Management_System-VMS</display-name>
  <welcome-file-list>
    <welcome-file>vms.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addVehicle</display-name>
    <servlet-name>addVehicle</servlet-name>
    <servlet-class>com.vms.servlets.addVehicle</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>addDriver</display-name>
    <servlet-name>addDriver</servlet-name>
    <servlet-class>com.vms.servlets.addDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addVehicle</servlet-name>
    <url-pattern>/addVehicle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addDriver</servlet-name>
    <url-pattern>/addDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleServlet</display-name>
    <servlet-name>VehicleServlet</servlet-name>
    <servlet-class>com.vms.servlets.VehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleServlet</servlet-name>
    <url-pattern>/VehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverServlet</display-name>
    <servlet-name>DriverServlet</servlet-name>
    <servlet-class>com.vms.servlets.DriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverServlet</servlet-name>
    <url-pattern>/DriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverAttendance</display-name>
    <servlet-name>DriverAttendance</servlet-name>
    <servlet-class>com.vms.servlets.DriverAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverAttendance</servlet-name>
    <url-pattern>/DriverAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverAttendanceServlet</display-name>
    <servlet-name>DriverAttendanceServlet</servlet-name>
    <servlet-class>com.vms.servlets.DriverAttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverAttendanceServlet</servlet-name>
    <url-pattern>/DriverAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDriverAttendance</display-name>
    <servlet-name>AddDriverAttendance</servlet-name>
    <servlet-class>com.vms.servlets.AddDriverAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDriverAttendance</servlet-name>
    <url-pattern>/AddDriverAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.vms.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
</web-app>